@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("./timer_bg.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Fugaz One', cursive;
}
h1{
    font-weight: normal;
    font-size: 5rem;
    margin-top: -10px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 100px;
    
}
#fc{
    margin-top: -390px;
    margin-left:110px
}

#fd{
    margin-top: -390px;
    margin-left:200px
}
.per{
    color:rgb(255, 255, 255);
}
.countdown-container{
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.days-c{
    display: flexbox;

}
.days-c p{
    font-weight: bold;
    font-size: 7rem;
    margin-left: 25px;
    margin-right: 25px;
}
.days-c span{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 25px;
    margin-right: 25px;
}
h2{
    font-size: 30px;
    color:antiquewhite;
    font-family: 'Poppins', sans-serif;

}
 .ideas{

    top: 70px;
    font-family: 'Russo One', sans-serif;

    }
    .typing-text::after {
        content: "|";
        animation: blink ease 1s infinite;
        }
        @keyframes blink {
        0%, 100% {
        opacity: 0;
        } 50% {
        opacity: 1;
        }
        }
